@media (min-width: 2400px) {
    body {
        font-size: 1.1rem;
    }
}

@media (min-width: 2000px) {
    body {
        font-size: 1.05rem;
    }
}

@media screen and (max-width: 1290px) and (min-width: 991px) {
    body {
        font-size: 0.92rem;
    }
}

.small-hero-left-column {
    background-color: red;
}

@media (max-width: 761px) {
    .small-hero-right-column {
        display: none;
    }

    .blogs-second-row {
        display: none
    }
}

@media (max-width: 761px) {

    .blogs-second-row {
        display: none
    }
}